@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
    background-image: url("https://wallpaperplay.com/walls/full/2/a/3/32718.jpg"); 
    background-size:cover;
}
.bodyText {
    color: white;
    font-family: Arial;

}
.TextTop {
    font-size: 20px;
    position:absolute;
}
.TextBottom {
    font-size:50px;
    font-weight:700;
    position:relative;
    top:10px;
    right: 5px;

}
.signUP {
    border: 1.3px solid;
    width:112px;
    border-color:red;
    font-weight:700;
    color:red;
    position:relative;
    bottom:10px;
    left:150px;    
}
</style>
<script>
    function blinker() {
        $('.blinking').fadeOut(500);
        $('.blinking').fadeIn(500);
    }
    setInterval(blinker, 1000);
</script>

<body></body>
<div class="bodyText">
    <p class="TextTop">JOIN US NOW</p>
    <p class="TextBottom">FITNESS &amp; SPORT</p>   
    <div class="blinking"><p class="signUP">&nbsp;SIGN-UP NOW!&nbsp;</p></div>
</div>


