@model ATeamFitness.Models.PersonalTrainer

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<head>
    <style>
        body {
            background-image: url("https://wallpaperplay.com/walls/full/2/a/3/32718.jpg");
            background-size: inherit;
        }
        .trainerNav {
            height: 300px;
            width: 120%;
            position: absolute;
            right:10%;

        }

    </style>
</head>

<div class="trainerNav"></div>


@*<body class="trainerBody">

    <ul class="trainerUl">
        <li class="trainerLi"><a class="active" asp-area="" asp-controller="PersonalTrainers" asp-action="CreateTimeBlock">New Time Block</a></li>
        <li class="trainerLi"><a href="#news">View TIme Blocks</a></li>
        <li class="trainerLi"><a href="#contact">View Scheduled Workouts</a></li>
        <li class="trainerLi"><a href="#about">About</a></li>
    </ul>
    
  

</body>*@

