@model ATeamFitness.Models.PersonalTrainer

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<head>
    <style>
    body {
            background-color: white;
    }
    .footer1 {
        position:absolute;
        bottom:0px;


    }
    .trainerBanner {
            background-image: url("https://lh3.googleusercontent.com/VgR5juC_ba-Q_UXn68V0BRUWYz1C93oY-npTDCVQyJOMRP2c3nhBNM10DqPPwgNf2R5dhT2e7pljIIbOBmkRQEKWFLSF3O9VgVcMZiuZZpSIuL1MwvPMjIvJ00W9hbxQQHeVoOQkmPg3YlByMPSC4QsGHmiIK8nFc3iLhojphSZespo67RG-sQO-l-INE_rplz1snjteFLx_kJmXGsIx4dU2yPXXvHJ-ph0gEulQGEePAGFsqkleJ-nKazFN2S8eEIEttGjgkML14n2grMiZW5V2lLKE9bdpFMS7d4TqOKVFYv6k6QUD4GEOMfIGHeODug7wGF4g5ppxl61UFWb7aVPDMPUhTcNjLxl509NlV3RXZoAkOSX-81pfCDxDyRADN5ucaoF_TMLADkTC17K0jFu8zdqbZAZV-kh51PW3kf6y_JHii1Y2W0PXACv5Ii6LGUovulgvEgGkI8qIqCJvgMXYev9m5Cjdtw_Bb7l8HfE9kFhlMA9ks9oHRNVtE4RI2xlX0Uz2clA9OsYf9pgAfNfPjFj_blKmNA9MPeO3vIkRf1-Tu9Q-EdSTsMI4ntrQwv6OEY4rgAmEd4C7gbKU-eqVGFyWugfod9GOkT9Klkt6DSzGCwxeZJnMsNl7N8WExzr9wvT8Zfh2APqh7z6Mgwpc9mMBAsaEk1hfl9tMuCq7VkfaPaGeZgf9aL8mZA=w1904-h620-no?authuser=0");
            background-size: cover;
            height: 320px;
            width: 80%;
            position: fixed;
            left: 10%;
            top: 8.5%;
    }
        .TrainerTile1 {
            position: relative;
            top: 350px;
            right: 65px;
            border: solid;
            border-color: red;
            background-color: white;
            width: 25%;
            height: 140px;
        }
    .TrainerTile2 {
            position: relative;
            top: 210px;
            left: 20%;
            border: solid;
            border-color: red;
            background-color: white;
            width: 25%;
            height: 140px;
    }
        .TrainerTile3 {
            position: relative;
            top: 70px;
            left: 46%;
            border: solid;
            border-color: red;
            background-color: white;
            width: 30%;
            height: 140px;
        }
    .TrainerTile4 {
            position: relative;
            bottom: 70px;
            left: 77%;
            border: solid;
            border-color: red;
            background-color: white;
            width: 30%;
            height: 140px;
        }
    .TopText {
            font-size:30px;
            font-weight: bolder;
            color: red;
            font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left:10px;
    }
    .BottomText {
            font-size:;
            font-weight:;
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left:10px;
    }
    .AllTiles {
            margin-right: 20px;
    }

    </style>
    </head>
<body>



    <div class="trainerBanner"></div>


    <div class="AllTiles">
        <a asp-area="" asp-controller="PersonalTrainers" asp-action="CreateTimeBlock">
            <div class="TrainerTile1">
                <p class="TopText">New Time Block</p>
                <p class="BottomText">Here you can create a new time block that customers can choose from to schedule a workout with you.</p>
            </div>
        </a>
        <a asp-area="" asp-controller="PersonalTrainers" asp-action="ViewTimeBlocks">

            <div class="TrainerTile2">
                <p class="TopText">View Time Blocks</p>
                <p class="BottomText">Here you can view existing time blocks that you have created.</p>
            </div>
        </a>


        <div class="TrainerTile3">
            <p class="TopText">Scheduled Workouts</p>
            <p class="BottomText">Here you can view a list of customers who scheduled a workout with you.</p>
        </div>
        <a asp-area="" asp-controller="PersonalTrainers" asp-route-id="@Model.PersonalTrainerId" asp-action="Edit">
            <div class="TrainerTile4">
                <p class="TopText">Edit Profile</p>
                <p class="BottomText">Here you can edit and update your profile</p>
            </div>
        </a>

    </div>
</body>



